
\.idea/

example/__pycache__/

ipaynowPythonSdk/ipaynow/__pycache__/

ipaynowSmsPythonSdk/build/

ipaynowSmsPythonSdk/dist/

ipaynowSmsPythonSdk/ipaynow_sms\.egg-info/

ipaynowSmsPythonSdk/ipaynow_sms/__pycache__/
